* {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
      font-family: 'Poppins', sans-serif;
      text-align: center;
}

.video-container {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
}

video {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
}

.video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #1b1b1b;
      opacity: 0.8;
}

.header {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      animation-name: intro;
      animation-duration: 1s;
}

@keyframes intro {
      0% {
            opacity: 0;
            padding-left: 80px;
      }

      100% {
            opacity: 1;
      }
}

.header h1 {
       color: #0a0a0a; 
       font-size: 80px !important;
}

.header img {
      width: 200px;
}

.header a {
      text-align: center;
}

.info {
      transition: 1s;
}

.info:hover {
      width: 300px;
      cursor: pointer;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader p {
      color: #fff;
      font-size: 50px;
}


.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
      opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.button {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      animation-name: intro;
      animation-duration: 1s;
}
.header p {
      color: #0a0a0a;
}